#brownTab{
    -fx-background-color: #795548;
}

#lightBlueTab{
	-fx-background-color: #4FC3F7;
}

#pinkTab{
	-fx-background-color: #F06292;
}

#orangeTab{
	-fx-background-color: #FF9800;
}

#redTab{
	-fx-background-color: #FF5722;
}

#yellowTab{
	-fx-background-color: #FFEB3B;
}

#greenTab{
	-fx-background-color: #4CAF50;
}

#blueTab{
	-fx-background-color: #1976D2;
}

#stationTab{
	-fx-background-color: black;
}
#societyTab{
	-fx-background-color: grey;
}



/*These are the colors for the stock history Chart .chart-series-lines*/
#brownChart .chart-series-line{
    -fx-stroke: #795548;
}

#lightBlueChart .chart-series-line{
	-fx-stroke: #4FC3F7;
}

#pinkChart .chart-series-line{
	-fx-stroke: #F06292;
}

#orangeChart .chart-series-line{
	-fx-stroke: #FF9800;
}

#redChart .chart-series-line{
	-fx-stroke: #FF5722;
}

#yellowChart .chart-series-line{
	-fx-stroke: #FFEB3B;
}

#greenChart .chart-series-line{
	-fx-stroke: #4CAF50;
}

#blueChart .chart-series-line{
	-fx-stroke: #1976D2;
}

#stationChart .chart-series-line{
	-fx-stroke: black;
}
#societyChart .chart-series-line{
	-fx-stroke: grey;
}
