#brown-properties{
     -fx-background-color: #795548;
}

#lightblue-properties{
     -fx-background-color: #4FC3F7;
}

#pink-properties {
     -fx-background-color: #F06292;
}

#orange-properties{
     -fx-background-color: #FF9800;
}

#red-properties{
     -fx-background-color: #FF5722;
}

#yellow-properties{
     -fx-background-color: #FFEB3B;
}

#green-properties{
     -fx-background-color: #4CAF50;
}

#blue-properties{
     -fx-background-color: #1976D2;
}

#station{
	
}

#calamity{
     -fx-opacity: 1;
}

#probabilities{
     -fx-opacity: 1;
}

#unexpected{
     -fx-opacity: 1;
}

#society{
     -fx-opacity: 1;
}

#start{
     -fx-opacity: 1;
}


#prison{
     -fx-opacity: 1;
}

#freeParking{
     -fx-opacity: 1;
}

.button{
     -fx-border-color: #000000;
     -fx-alignment: center;
     -fx-focus-traversable: false;
     -fx-wrap-text: true;
     -fx-font-weight: bold;
}

.button:hover {
     -fx-scale-y: 1.05;
     -fx-scale-x: 1.05;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
